<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Descarga Partes Suma</h4>
                        <p class="card-category">Descarga de Partes de Recepción Suma</p>
                    </div>
                    <div class="card-body">
                        <!-- <form> -->
                            <button style="float: right;" mat-raised-button type="button" 
                                class="btn btn-danger pull-right" onclick="sincronizarPartes()">
                                Sincronizar
                            </button>
                            <div class="clearfix"></div>
                        <!-- </form> -->

                        <div class="table-responsive">
                            <table mat-table class="table table-hover" [dataSource]="dataSourcePartesSuma">

                                <ng-container matColumnDef="cor">
                                    <th mat-header-cell *matHeaderCellDef> Parte Suma </th>
                                    <td mat-cell *matCellDef="let parte"> {{ parte.cor }} </td>
                                </ng-container>

                                <ng-container matColumnDef="fecTra">
                                    <th mat-header-cell *matHeaderCellDef> Fecha Trámite </th>
                                    <td mat-cell *matCellDef="let parte"> {{ parte.fecTra }} </td>
                                </ng-container>
                                
                                <ng-container matColumnDef="dstOea">
                                    <th mat-header-cell *matHeaderCellDef> Dest.Oea </th>
                                    <td mat-cell *matCellDef="let parte"> {{ parte.dstOea }} </td>
                                </ng-container>

                                <ng-container matColumnDef="dstCodTipDoc">
                                    <th mat-header-cell *matHeaderCellDef> Dst.Tipo Doc. </th>
                                    <td mat-cell *matCellDef="let parte"> {{ parte.dstCodTipDoc }} </td>
                                </ng-container>

                                <ng-container matColumnDef="dstNumDoc">
                                    <th mat-header-cell *matHeaderCellDef> Dst.Num.Doc </th>
                                    <td mat-cell *matCellDef="let parte"> {{ parte.dstNumDoc }} </td>
                                </ng-container>
                                
                                <ng-container matColumnDef="dstNomRazSoc">
                                    <th mat-header-cell *matHeaderCellDef> Dst.Raz.Soc. </th>
                                    <td mat-cell *matCellDef="let parte"> {{ parte.dstNomRazSoc }} </td>
                                </ng-container>

                                <ng-container matColumnDef="estAct">
                                    <th mat-header-cell *matHeaderCellDef> Estado </th>
                                    <td mat-cell *matCellDef="let parte"> {{ parte.estAct }} </td>
                                </ng-container>

                                <ng-container matColumnDef="datgenNumMan">
                                    <th mat-header-cell *matHeaderCellDef> Manifiesto </th>
                                    <td mat-cell *matCellDef="let parte"> {{ parte.datgenNumMan }} </td>
                                </ng-container>

                                <ng-container matColumnDef="datgenNumDocEmb">
                                    <th mat-header-cell *matHeaderCellDef> Doc.Embarque </th>
                                    <td mat-cell *matCellDef="let parte"> {{ parte.datgenNumDocEmb }} </td>
                                </ng-container>

                                <ng-container matColumnDef="datgenFecing">
                                    <th mat-header-cell *matHeaderCellDef> F.Ing. </th>
                                    <td mat-cell *matCellDef="let parte"> {{ parte.datgenFecing }} </td>
                                </ng-container>

                                <ng-container matColumnDef="ingubimerModregDes">
                                    <th mat-header-cell *matHeaderCellDef> UM.Mod.Reg </th>
                                    <td mat-cell *matCellDef="let parte"> {{ parte.ingubimerModregDes }} </td>
                                </ng-container>

                                <ng-container matColumnDef="ingubimerAlmCod">
                                    <th mat-header-cell *matHeaderCellDef> UM.Alm.Cod </th>
                                    <td mat-cell *matCellDef="let parte"> {{ parte.ingubimerAlmCod }} </td>
                                </ng-container>

                                <ng-container matColumnDef="inftecDocfirUsrfir">
                                    <th mat-header-cell *matHeaderCellDef> Usr.Firma </th>
                                    <td mat-cell *matCellDef="let parte"> {{ parte.inftecDocfirUsrfir }} </td>
                                </ng-container>

                                <ng-container matColumnDef="contotsobfalCanrec">
                                    <th mat-header-cell *matHeaderCellDef> Cant. </th>
                                    <td mat-cell *matCellDef="let parte"> {{ parte.contotsobfalCanrec }} </td>
                                </ng-container>

                                <ng-container matColumnDef="contotsobfalPesrec">
                                    <th mat-header-cell *matHeaderCellDef> Peso </th>
                                    <td mat-cell *matCellDef="let parte"> {{ parte.contotsobfalPesrec }} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                            </table>

                            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                            showFirstLastButtons 
                                            aria-label="Seleccione una página">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
